<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPUs en Amazon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lista de Tarjetas Gráficas en Amazon</h1>
    
    <table>
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Enlace</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td><img src="{{ producto[3] }}" alt="Imagen" width="100"></td>
                <td>{{ producto[0] }}</td>
                <td>${{ producto[1] }}</td>
                <td><a href="{{ producto[2] }}" target="_blank">Ver en Amazon</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
